org: syuta
app: jonas-notion-support
service: jonas-notion-support
frameworkVersion: '3'

provider:
  name: aws
  runtime: nodejs18.x
  region: ap-northeast-1
  deploymentBucket:
    name: '${self:custom.deploymentBucketName}'

functions:
  api:
    handler: src/index.handler
    events:
      - httpApi:
          path: /
          method: get

plugins:
  - serverless-layers

package:
  individually: true
  patterns:
    - '!node_modules/**'

custom:
  deploymentBucketName: 'jonas-notion-support-node-modules-layers'
  serverless-layers:
    packageManager: yarn
